<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0" >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="static\main\style.css">
        <title>Excursion</title>
    </head>
<body>
    <h1 id="hidden">Discover hidden places in the world around you</h1>
    <p id="link"><a href="static\resources\docs\path.docx">Download Excursion (Coming Soon)</a></p>
    <video src="static\resources\video\excursion.mp4" type="video/mp4"></video>
    <p><h1 id="guide">Your personal travel guide</h1></p>
    <p id="under">Excursion remembers places you like, and recommends new points of interest around you.</p>
    <image src="static\resources\images\camp.webp"></image>
    <br>
    <p><image src="static\resources\images\phone.webp"></image></p>
</body>
<footer>

</footer>
</html>